HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-1.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-2.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-3.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-4.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-5.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-6.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-7.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-8.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-9.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-10.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-13.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-18.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-22.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-24.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-26.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-31.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-32.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-34.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-35.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-36.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-37.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-39.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-46.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-49.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-53.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-54.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-56.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-57.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-71.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-73.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-74.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-75.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-76.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-77.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-78.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-82.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-83.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-84.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-85.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-86.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-88.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-89.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-92.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-93.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-96.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-100.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-101.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-103.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-104.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-105.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-106.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-107.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-108.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-111.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-112.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-113.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-114.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-115.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-116.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-117.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-120.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-125.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-127.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-128.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-129.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-130.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-131.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-132.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-133.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-134.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-135.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-136.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-137.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/3d66Model-1071099-files-138.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/Map 0.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/大数据书架上的画.png
/src/main/resources/static/models/gltf/Studio/BigDataStudio/大数据壁画.jpg
/src/main/resources/static/models/gltf/Studio/BigDataStudio/BigDataStudio.bin
/src/main/resources/static/models/gltf/Studio/BigDataStudio/BigDataStudio.gltf
