<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zytc.web_3d_school.dao.mapper.UserDetailsServiceMapper">
    <insert id="insertUser">
        insert into web3dschool.sys_user(`login_name`,`login_pwd`,`user_name`,`status`,`create_time`,`email`,`tel`,`is_examine`)
        values(#{user.login_name},#{user.login_pwd},#{user.user_name},#{user.status},#{user.create_time},#{user.email},#{user.tel},#{user.is_examine});
    </insert>
    <select id="loadUserByUsername" resultType="com.zytc.web_3d_school.pojo.SecurityUser">
        select * from web3dschool.sys_user s where s.login_name=#{username} limit 1;
    </select>
</mapper>